# Superhero SQL mystery project

## Loading and Inspecting the Data

In [1]:
import pandas as pd
import sqlite3

In [2]:
!ls CSVs

heroes_information.csv
places.csv
sidekicks.csv
super_hero_powers.csv
villains.csv

In [3]:
hero_info = pd.read_csv('CSVs/heroes_information.csv', index_col=[0])
hero_powers = pd.read_csv('CSVs/super_hero_powers.csv')
villains = pd.read_csv('CSVs/villains.csv', index_col=[0])
sidekicks = pd.read_csv('CSVs/sidekicks.csv', index_col=[0])
places = pd.read_csv('CSVs/places.csv', index_col=[0])

In [4]:
hero_info.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [5]:
hero_info.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Skin color', 'Alignment', 'Weight'],
      dtype='object')

In [6]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
hero_powers.columns

Index(['hero_names', 'Agility', 'Accelerated Healing', 'Lantern Power Ring',
       'Dimensional Awareness', 'Cold Resistance', 'Durability', 'Stealth',
       'Energy Absorption', 'Flight',
       ...
       'Web Creation', 'Reality Warping', 'Odin Force', 'Symbiote Costume',
       'Speed Force', 'Phoenix Force', 'Molecular Dissipation',
       'Vision - Cryo', 'Omnipresent', 'Omniscient'],
      dtype='object', length=168)

In [8]:
villains.head()

,name,real names,aliases,gender,charecter type,powers
0,Magneto,Max Eisenhardt,"Erik Magnus Lehnsherr, The Master of Magnetism...",Male,Mutant,"Blast Power, Electricity Control, Electronic D..."
1,Joker,Unknown,"""Clown Prince of Crime , Harlequin of Hate, Pu...",Male,Other,"Adaptive, Agility, Chameleon, Enhance Mutation..."
2,Doctor Doom,Victor Von Doom,"Dr. Doom, Victor von Doom, The Master, The Bar...",Male,Human,"Adaptive, Agility, Blast Power, Electricity Co..."
3,Lex Luthor,Alexander Joseph Luthor,"Alexander Joseph Luthor, Alexander Luthor, Ale...",Male,Human,"Blast Power, Energy Manipulation, Energy Shiel..."
4,Galactus,Galan,"Galan, Galen, Devourer of Worlds, Ravager of P...",Male,God/Eternal,"Astral Projection, Berserker Strength, Blast P..."

In [9]:
villains.columns

Index(['name', 'real names', 'aliases', 'gender', 'charecter type', 'powers'], dtype='object')

In [10]:
places.head()

           location                                        description
0       Gotham City  Gotham City is under the protection of Batman ...
1           Krypton  A fictional planet in the DC Universe and the ...
2           Batcave  The Batcave is the secret headquarters for Bat...
3     Arkham Asylum  Arkham Asylum for the Criminally Insane is a f...
4  Castle Grayskull  At the center of the Universe; between light a...

In [11]:
places_cols = places.columns
hero_p_cols = hero_powers.columns
villains_cols = villains.columns
sidekicks_cols = sidekicks.columns
places_cols = places.columns

all_cols = places_cols, hero_p_cols, villains_cols, sidekicks_cols, places_cols

## Into the world of SQL

In [12]:
!ls

CSVs
Emine_Superhero_SQL_Project.ipynb
README.md
data.sqlite
sample_data_superheroes_mysql.sql
scrapers
sql_heroes.db

In [13]:
hero_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        734 non-null    object
 1   Gender      734 non-null    object
 2   Eye color   734 non-null    object
 3   Race        734 non-null    object
 4   Hair color  734 non-null    object
 5   Height      734 non-null    float64
 6   Publisher   719 non-null    object
 7   Skin color  734 non-null    object
 8   Alignment   734 non-null    object
 9   Weight      732 non-null    float64
dtypes: float64(2), object(8)
memory usage: 63.1+ KB

In [14]:
hero_info.isna().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

In [15]:
# Filling missing publisher values with 'Unknown'
hero_info['Publisher'].fillna(value='Unknown', inplace=True)

In [16]:
# Filling missign Wight values with 'None'
hero_info['Weight'].fillna(value='None', inplace=True)

In [21]:
# No missing values
hero_info.isna().sum()

name          0
Gender        0
Eye color     0
Race          0
Hair color    0
Height        0
Publisher     0
Skin color    0
Alignment     0
Weight        0
dtype: int64

In [17]:
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

In [80]:
## this deletes table
cur.execute("""DROP TABLE HEROES;""")

In [81]:
# this creates table
cur.execute("""CREATE TABLE HEROES (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [71]:
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99
...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57
733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81

In [57]:
hero_info.replace(to_replace = '-', value = 'Unknown', inplace = True)

In [72]:
for i in hero_info.index:
    print(i, hero_info['name'][i], hero_info['Gender'][i], hero_info['Eye color'][i])

0 A-Bomb Male yellow
1 Abe Sapien Male blue
2 Abin Sur Male blue
3 Abomination Male green
4 Abraxas Male blue
5 Absorbing Man Male blue
6 Adam Monroe Male blue
7 Adam Strange Male blue
8 Agent 13 Female blue
9 Agent Bob Male brown
10 Agent Zero Male Unknown
11 Air-Walker Male blue
12 Ajax Male brown
13 Alan Scott Male blue
14 Alex Mercer Male Unknown
15 Alex Woolsly Male Unknown
16 Alfred Pennyworth Male blue
17 Alien Male Unknown
18 Allan Quatermain Male Unknown
19 Amazo Male red
20 Ammo Male brown
21 Ando Masahashi Male Unknown
22 Angel Male blue
23 Angel Male Unknown
24 Angel Dust Female yellow
25 Angel Salvadore Female brown
26 Angela Female Unknown
27 Animal Man Male blue
28 Annihilus Male green
29 Ant-Man Male blue
30 Ant-Man II Male blue
31 Anti-Monitor Male yellow
32 Anti-Spawn Male Unknown
33 Anti-Venom Male blue
34 Apocalypse Male red
35 Aquababy Male blue
36 Aqualad Male blue
37 Aquaman Male blue
38 Arachne Female blue
39 Archangel Male blue
40 Arclight Female violet
41 Ardina Female white
42 Ares Male brown
43 Ariel Female purple
44 Armor Female black
45 Arsenal Male Unknown
46 Astro Boy Male brown
47 Atlas Male brown
48 Atlas Male blue
49 Atom Male blue
50 Atom Male Unknown
51 Atom Girl Female black
52 Atom II Male brown
53 Atom III Male Unknown
54 Atom IV Male brown
55 Aurora Female blue
56 Azazel Male yellow
57 Azrael Male brown
58 Aztar Male Unknown
59 Bane Male Unknown
60 Banshee Male green
61 Bantam Male brown
62 Batgirl Female Unknown
63 Batgirl Female green
64 Batgirl III Female Unknown
65 Batgirl IV Female green
66 Batgirl V Female Unknown
67 Batgirl VI Female blue
68 Batman Male blue
69 Batman Male blue
70 Batman II Male blue
71 Battlestar Male brown
72 Batwoman V Female green
73 Beak Male black
74 Beast Male blue
75 Beast Boy Male green
76 Beetle Male Unknown
77 Ben 10 Male Unknown
78 Beta Ray Bill Male Unknown
79 Beyonder Male Unknown
80 Big Barda Female blue
81 Big Daddy Male Unknown
82 Big Man Male blue
83 Bill Harken Male Unknown
84 Billy Kincaid Male Unknown
85 Binary Female blue
86 Bionic Woman Female blue
87 Bird-Brain Unknown Unknown
88 Bird-Man Male Unknown
89 Bird-Man II Male Unknown
90 Birdman Male Unknown
91 Bishop Male brown
92 Bizarro Male black
93 Black Abbott Male red
94 Black Adam Male brown
95 Black Bolt Male blue
96 Black Canary Female blue
97 Black Canary Female blue
98 Black Cat Female green
99 Black Flash Male Unknown
100 Black Goliath Male Unknown
101 Black Knight III Male brown
102 Black Lightning Male brown
103 Black Mamba Female green
104 Black Manta Male black
105 Black Panther Male brown
106 Black Widow Female green
107 Black Widow II Female blue
108 Blackout Male red
109 Blackwing Male blue
110 Blackwulf Male red
111 Blade Male brown
112 Blaquesmith Unknown black
113 Bling! Female Unknown
114 Blink Female green
115 Blizzard Male Unknown
116 Blizzard Male Unknown
117 Blizzard II Male brown
118 Blob Male brown
119 Bloodaxe Female blue
120 Bloodhawk Male black
121 Bloodwraith Male white
122 Blue Beetle Male blue
123 Blue Beetle Male Unknown
124 Blue Beetle II Male blue
125 Blue Beetle III Male brown
126 Boba Fett Male brown
127 Bolt Male Unknown
128 Bomb Queen Female Unknown
129 Boom-Boom Female blue
130 Boomer Female Unknown
131 Booster Gold Male blue
132 Box Male Unknown
133 Box III Unknown blue
134 Box IV Unknown brown
135 Brainiac Male green
136 Brainiac 5 Male green
137 Brother Voodoo Male brown
138 Brundlefly Male Unknown
139 Buffy Female green
140 Bullseye Male blue
141 Bumblebee Female brown
142 Bumbleboy Male Unknown
143 Bushido Male Unknown
144 Cable Male blue
145 Callisto Female blue
146 Cameron Hicks Male Unknown
147 Cannonball Male blue
148 Captain America Male blue
149 Captain Atom Male blue
150 Captain Britain Male blue
151 Captain Cold Male brown
152 Captain Epic Male blue
153 Captain Hindsight Male Unknown
154 Captain Mar-vell Male blue
155 Captain Marvel Female blue
156 Captain Marvel Male blue
157 Captain Marvel II Male blue
158 Captain Midnight Male Unknown
159 Captain Planet Male red
160 Captain Universe Unknown Unknown
161 Carnage Male green
162 Cat Female blue
163 Cat II Female Unknown
164 Catwoman Female green
165 Cecilia Reyes Unknown brown
166 Century Male white
167 Cerebra Female Unknown
168 Chamber Male brown
169 Chameleon Male Unknown
170 Changeling Male brown
171 Cheetah Female green
172 Cheetah II Female green
173 Cheetah III Female brown
174 Chromos Male brown
175 Chuck Norris Male Unknown
176 Citizen Steel Male green
177 Claire Bennet Female blue
178 Clea Unknown Unknown
179 Cloak Male brown
180 Clock King Male blue
181 Cogliostro Male Unknown
182 Colin Wagner Male grey
183 Colossal Boy Male Unknown
184 Colossus Male silver
185 Copycat Female red
186 Corsair Male brown
187 Cottonmouth Male brown
188 Crimson Crusader Male blue
189 Crimson Dynamo Male brown
190 Crystal Female green
191 Curse Male Unknown
192 Cy-Gor Male Unknown
193 Cyborg Male brown
194 Cyborg Superman Male blue
195 Cyclops Male brown
196 Cypher Unknown blue
197 Dagger Female blue
198 Danny Cooper Male brown
199 Daphne Powell Female Unknown
200 Daredevil Male blue
201 Darkhawk Male brown
202 Darkman Male Unknown
203 Darkseid Male red
204 Darkside Unknown Unknown
205 Darkstar Female brown
206 Darth Maul Male yellow / red
207 Darth Vader Male yellow
208 Dash Male blue
209 Data Male yellow
210 Dazzler Female blue
211 Deadman Male blue
212 Deadpool Male brown
213 Deadshot Male brown
214 Deathlok Male brown
215 Deathstroke Male blue
216 Demogoblin Male red
217 Destroyer Male Unknown
218 Diamondback Male brown
219 DL Hawkins Male Unknown
220 Doc Samson Male blue
221 Doctor Doom Male brown
222 Doctor Doom II Male brown
223 Doctor Fate Male blue
224 Doctor Octopus Male brown
225 Doctor Strange Male grey
226 Domino Female blue
227 Donatello Male green
228 Donna Troy Female blue
229 Doomsday Male red
230 Doppelganger Male white
231 Dormammu Male yellow
232 Dr Manhattan Male white
233 Drax the Destroyer Male red
234 Ego Unknown Unknown
235 Elastigirl Female brown
236 Electro Male blue
237 Elektra Female blue
238 Elle Bishop Female blue
239 Elongated Man Male blue
240 Emma Frost Female blue
241 Enchantress Female blue
242 Energy Female Unknown
243 ERG-1 Male Unknown
244 Ethan Hunt Male brown
245 Etrigan Male red
246 Evil Deadpool Male white
247 Evilhawk Male red
248 Exodus Male blue
249 Fabian Cortez Unknown blue
250 Falcon Male brown
251 Fallen One II Male black
252 Faora Female Unknown
253 Feral Unknown yellow (without irises)
254 Fighting Spirit Female Unknown
255 Fin Fang Foom Male red
256 Firebird Female brown
257 Firelord Unknown white
258 Firestar Female green
259 Firestorm Male brown
260 Firestorm Male blue
261 Fixer Unknown red
262 Flash Male blue
263 Flash Gordon Male Unknown
264 Flash II Male blue
265 Flash III Male Unknown
266 Flash IV Male yellow
267 Forge Unknown brown
268 Franklin Richards Male blue
269 Franklin Storm Unknown blue
270 Frenzy Female brown
271 Frigga Female blue
272 Galactus Male black
273 Gambit Male red
274 Gamora Female yellow
275 Garbage Man Male Unknown
276 Gary Bell Male Unknown
277 General Zod Male black
278 Genesis Male blue
279 Ghost Rider Male red
280 Ghost Rider II Unknown Unknown
281 Giant-Man Male Unknown
282 Giant-Man II Male Unknown
283 Giganta Female green
284 Gladiator Male blue
285 Goblin Queen Female green
286 Godzilla Unknown Unknown
287 Gog Male Unknown
288 Goku Male Unknown
289 Goliath Male Unknown
290 Goliath Male Unknown
291 Goliath Male Unknown
292 Goliath IV Male brown
293 Gorilla Grodd Male yellow
294 Granny Goodness Female blue
295 Gravity Male blue
296 Greedo Male purple
297 Green Arrow Male green
298 Green Goblin Male blue
299 Green Goblin II Male blue
300 Green Goblin III Male Unknown
301 Green Goblin IV Male green
302 Groot Male yellow
303 Guardian Male brown
304 Guy Gardner Male blue
305 Hal Jordan Male brown
306 Han Solo Male brown
307 Hancock Male brown
308 Harley Quinn Female blue
309 Harry Potter Male green
310 Havok Male blue
311 Hawk Male red
312 Hawkeye Male blue
313 Hawkeye II Female blue
314 Hawkgirl Female green
315 Hawkman Male blue
316 Hawkwoman Female green
317 Hawkwoman II Female Unknown
318 Hawkwoman III Female blue
319 Heat Wave Male blue
320 Hela Female green
321 Hellboy Male gold
322 Hellcat Female blue
323 Hellstorm Male red
324 Hercules Male blue
325 Hiro Nakamura Male Unknown
326 Hit-Girl Female Unknown
327 Hobgoblin Male blue
328 Hollow Female blue
329 Hope Summers Female green
330 Howard the Duck Male brown
331 Hulk Male green
332 Human Torch Male blue
333 Huntress Female blue
334 Husk Female blue
335 Hybrid Male brown
336 Hydro-Man Male brown
337 Hyperion Male blue
338 Iceman Male brown
339 Impulse Male yellow
340 Indiana Jones Male Unknown
341 Indigo Female Unknown
342 Ink Male blue
343 Invisible Woman Female blue
344 Iron Fist Male blue
345 Iron Man Male blue
346 Iron Monger Male blue
347 Isis Female Unknown
348 Jack Bauer Male Unknown
349 Jack of Hearts Male blue / white
350 Jack-Jack Male blue
351 James Bond Male blue
352 James T. Kirk Male hazel
353 Jar Jar Binks Male yellow
354 Jason Bourne Male Unknown
355 Jean Grey Female green
356 Jean-Luc Picard Male Unknown
357 Jennifer Kale Female blue
358 Jesse Quick Female Unknown
359 Jessica Cruz Female green
360 Jessica Jones Female brown
361 Jessica Sanders Female Unknown
362 Jigsaw Male blue
363 Jim Powell Male Unknown
364 JJ Powell Male Unknown
365 Johann Krauss Male Unknown
366 John Constantine Male blue
367 John Stewart Male green
368 John Wraith Male brown
369 Joker Male green
370 Jolt Female blue
371 Jubilee Female red
372 Judge Dredd Male Unknown
373 Juggernaut Male blue
374 Junkpile Male Unknown
375 Justice Male hazel
376 Jyn Erso Female green
377 K-2SO Male white
378 Kang Male brown
379 Karate Kid Male brown
380 Kathryn Janeway Female Unknown
381 Katniss Everdeen Female Unknown
382 Kevin 11 Male Unknown
383 Kick-Ass Male blue
384 Kid Flash Male green
385 Kid Flash II Male Unknown
386 Killer Croc Male red
387 Killer Frost Female blue
388 Kilowog Male red
389 King Kong Male yellow
390 King Shark Male black
391 Kingpin Male blue
392 Klaw Male red
393 Kool-Aid Man Male black
394 Kraven II Male brown
395 Kraven the Hunter Male brown
396 Krypto Male blue
397 Kyle Rayner Male green
398 Kylo Ren Male Unknown
399 Lady Bullseye Female Unknown
400 Lady Deathstrike Female brown
401 Leader Male green
402 Leech Male Unknown
403 Legion Male green / blue
404 Leonardo Male blue
405 Lex Luthor Male green
406 Light Lass Female blue
407 Lightning Lad Male blue
408 Lightning Lord Male blue
409 Living Brain Unknown yellow
410 Living Tribunal Unknown blue
411 Liz Sherman Female Unknown
412 Lizard Male red
413 Lobo Male red
414 Loki Male green
415 Longshot Male blue
416 Luke Cage Male brown
417 Luke Campbell Male Unknown
418 Luke Skywalker Male blue
419 Luna Female Unknown
420 Lyja Female green
421 Mach-IV Male brown
422 Machine Man Unknown red
423 Magneto Male grey
424 Magog Male blue
425 Magus Male black
426 Man of Miracles Unknown blue
427 Man-Bat Male brown
428 Man-Thing Male red
429 Man-Wolf Male brown
430 Mandarin Male blue
431 Mantis Female green
432 Martian Manhunter Male red
433 Marvel Girl Female green
434 Master Brood Male blue
435 Master Chief Male brown
436 Match Male black
437 Matt Parkman Male Unknown
438 Maverick Male blue
439 Maxima Female brown
440 Maya Herrera Female Unknown
441 Medusa Female green
442 Meltdown Female blue
443 Mephisto Male white
444 Mera Female blue
445 Metallo Male green
446 Metamorpho Male black
447 Meteorite Female Unknown
448 Metron Male blue
449 Micah Sanders Male brown
450 Michelangelo Male blue
451 Micro Lad Male grey
452 Mimic Male brown
453 Minna Murray Female Unknown
454 Misfit Female blue
455 Miss Martian Female red
456 Mister Fantastic Male brown
457 Mister Freeze Male Unknown
458 Mister Knife Male blue
459 Mister Mxyzptlk Male Unknown
460 Mister Sinister Male red
461 Mister Zsasz Male blue
462 Mockingbird Female blue
463 MODOK Male white
464 Mogo Male Unknown
465 Mohinder Suresh Male Unknown
466 Moloch Male Unknown
467 Molten Man Male gold
468 Monarch Male blue
469 Monica Dawson Female Unknown
470 Moon Knight Male brown
471 Moonstone Female blue
472 Morlun Male white / red
473 Morph Male white
474 Moses Magnum Male brown
475 Mr Immortal Male blue
476 Mr Incredible Male blue
477 Ms Marvel II Female blue
478 Multiple Man Male blue
479 Mysterio Male brown
480 Mystique Female yellow (without irises)
481 Namor Male Unknown
482 Namor Male grey
483 Namora Female blue
484 Namorita Female blue
485 Naruto Uzumaki Male Unknown
486 Nathan Petrelli Male brown
487 Nebula Female blue
488 Negasonic Teenage Warhead Female black
489 Nick Fury Male brown
490 Nightcrawler Male yellow
491 Nightwing Male blue
492 Niki Sanders Female blue
493 Nina Theroux Female Unknown
494 Nite Owl II Male Unknown
495 Northstar Male blue
496 Nova Male brown
497 Nova Female white
498 Odin Male blue
499 Offspring Male Unknown
500 Omega Red Male red
501 Omniscient Male brown
502 One Punch Man Male Unknown
503 One-Above-All Unknown Unknown
504 Onslaught Male red
505 Oracle Female blue
506 Osiris Male brown
507 Overtkill Male Unknown
508 Ozymandias Male blue
509 Parademon Unknown Unknown
510 Paul Blart Male Unknown
511 Penance Unknown Unknown
512 Penance I Female Unknown
513 Penance II Male blue
514 Penguin Male blue
515 Peter Petrelli Male Unknown
516 Phantom Male Unknown
517 Phantom Girl Female blue
518 Phoenix Female green
519 Plantman Male green
520 Plastic Lad Male Unknown
521 Plastic Man Male blue
522 Plastique Female blue
523 Poison Ivy Female green
524 Polaris Female green
525 Power Girl Female blue
526 Power Man Male Unknown
527 Predator Male Unknown
528 Professor X Male blue
529 Professor Zoom Male blue
530 Proto-Goblin Male green
531 Psylocke Female blue
532 Punisher Male blue
533 Purple Man Male purple
534 Pyro Male blue
535 Q Male Unknown
536 Quantum Male Unknown
537 Question Male blue
538 Quicksilver Male blue
539 Quill Male brown
540 Ra's Al Ghul Male green
541 Rachel Pirzad Female Unknown
542 Rambo Male brown
543 Raphael Male Unknown
544 Raven Female indigo
545 Ray Male green
546 Razor-Fist II Male blue
547 Red Arrow Male green
548 Red Hood Male blue
549 Red Hulk Male yellow
550 Red Mist Male Unknown
551 Red Robin Male blue
552 Red Skull Male blue
553 Red Tornado Male green
554 Redeemer II Male Unknown
555 Redeemer III Male Unknown
556 Renata Soliz Female Unknown
557 Rey Female hazel
558 Rhino Male brown
559 Rick Flag Male blue
560 Riddler Male Unknown
561 Rip Hunter Male blue
562 Ripcord Female green
563 Robin Male blue
564 Robin II Male blue
565 Robin III Male blue
566 Robin V Male blue
567 Robin VI Female green
568 Rocket Raccoon Male brown
569 Rogue Female green
570 Ronin Male blue
571 Rorschach Male blue
572 Sabretooth Male amber
573 Sage Female blue

574 Sandman Male brown
575 Sasquatch Male red
576 Sauron Male Unknown
577 Savage Dragon Male Unknown
578 Scarecrow Male blue
579 Scarlet Spider Male blue
580 Scarlet Spider II Male brown
581 Scarlet Witch Female blue
582 Scorpia Female green
583 Scorpion Male brown
584 Sebastian Shaw Male Unknown
585 Sentry Male blue
586 Shadow King Unknown red
587 Shadow Lass Female black
588 Shadowcat Female hazel
589 Shang-Chi Male brown
590 Shatterstar Male brown
591 She-Hulk Female green
592 She-Thing Female blue
593 Shocker Male brown
594 Shriek Female yellow / blue
595 Shrinking Violet Female Unknown
596 Sif Female blue
597 Silk Female brown
598 Silk Spectre Female Unknown
599 Silk Spectre II Female Unknown
600 Silver Surfer Male white
601 Silverclaw Female brown
602 Simon Baz Male bown
603 Sinestro Male black
604 Siren Female blue
605 Siren II Female black
606 Siryn Female blue
607 Skaar Male green
608 Snake-Eyes Male Unknown
609 Snowbird Female white
610 Sobek Male white
611 Solomon Grundy Male black
612 Songbird Female green
613 Space Ghost Male Unknown
614 Spawn Male brown
615 Spectre Male white
616 Speedball Male Unknown
617 Speedy Male Unknown
618 Speedy Female green
619 Spider-Carnage Male Unknown
620 Spider-Girl Female blue
621 Spider-Gwen Female blue
622 Spider-Man Male hazel
623 Spider-Man Unknown red
624 Spider-Man Male brown
625 Spider-Woman Female green
626 Spider-Woman II Female Unknown
627 Spider-Woman III Female brown
628 Spider-Woman IV Female red
629 Spock Male brown
630 Spyke Male brown
631 Stacy X Female Unknown
632 Star-Lord Male blue
633 Stardust Male Unknown
634 Starfire Female green
635 Stargirl Female blue
636 Static Male brown
637 Steel Male brown
638 Stephanie Powell Female Unknown
639 Steppenwolf Male red
640 Storm Female blue
641 Stormtrooper Male Unknown
642 Sunspot Male brown
643 Superboy Male blue
644 Superboy-Prime Male blue
645 Supergirl Female blue
646 Superman Male blue
647 Swamp Thing Male red
648 Swarm Male yellow
649 Sylar Male Unknown
650 Synch Male brown
651 T-1000 Male Unknown
652 T-800 Male red
653 T-850 Male red
654 T-X Female Unknown
655 Taskmaster Male brown
656 Tempest Female brown
657 Thanos Male red
658 The Cape Male Unknown
659 The Comedian Male brown
660 Thing Male blue
661 Thor Male blue
662 Thor Girl Female blue
663 Thunderbird Male brown
664 Thunderbird II Male Unknown
665 Thunderbird III Male brown
666 Thunderstrike Male blue
667 Thundra Female green
668 Tiger Shark Male grey
669 Tigra Female green
670 Tinkerer Male brown
671 Titan Male Unknown
672 Toad Male black
673 Toxin Male blue
674 Toxin Male black
675 Tracy Strauss Female Unknown
676 Trickster Male blue
677 Trigon Male yellow
678 Triplicate Girl Female purple
679 Triton Male green
680 Two-Face Male Unknown
681 Ultragirl Female blue
682 Ultron Male red
683 Utgard-Loki Male blue
684 Vagabond Female blue
685 Valerie Hart Female hazel
686 Valkyrie Female blue
687 Vanisher Male green
688 Vegeta Male Unknown
689 Venom Male blue
690 Venom II Male brown
691 Venom III Male brown
692 Venompool Male Unknown
693 Vertigo II Female blue
694 Vibe Male brown
695 Vindicator Female green
696 Vindicator Male Unknown
697 Violator Male Unknown
698 Violet Parr Female violet
699 Vision Male gold
700 Vision II Unknown red
701 Vixen Female amber
702 Vulcan Male black
703 Vulture Male brown
704 Walrus Male blue
705 War Machine Male brown
706 Warbird Female blue
707 Warlock Male red
708 Warp Male brown
709 Warpath Male brown
710 Wasp Female blue
711 Watcher Male Unknown
712 Weapon XI Male Unknown
713 White Canary Female brown
714 White Queen Female blue
715 Wildfire Male Unknown
716 Winter Soldier Male brown
717 Wiz Kid Unknown brown
718 Wolfsbane Female green
719 Wolverine Male blue
720 Wonder Girl Female blue
721 Wonder Man Male red
722 Wonder Woman Female blue
723 Wondra Female Unknown
724 Wyatt Wingfoot Male brown
725 X-23 Female green
726 X-Man Male blue
727 Yellow Claw Male blue
728 Yellowjacket Male blue
729 Yellowjacket II Female blue
730 Ymir Male white
731 Yoda Male brown
732 Zatanna Female blue
733 Zoom Male red

In [22]:
# # Iterate over the hire_info pandas df and populate the Hero_Info table here
# for contact in contacts:
#     firstName = contact['firstName']
#     lastName = contact['lastName']
#     role = contact['role']
#     telephone  = contact['telephone ']
#     street = contact['street']
#     city = contact['city']
#     state = contact['state']
#     zipcode  = contact['zipcode ']
#     cur.execute("""INSERT INTO contactInfo (firstName, lastName, role, telephone, street, city, state, zipcode) 
#                   VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
#                 """.format(firstName, lastName, role, telephone, street, city, state, zipcode) )

In [73]:
# Iterate over the hire_info pandas df and populate the Hero_Info database table:
error_lines = []
for i in hero_info.index:
    try:
        hero_id = i
        name = hero_info['name'][i]
        gender = hero_info['Gender'][i]
        eye_color = hero_info['Eye color'][i]
        race = hero_info['Race'][i]
        hair_color = hero_info['Hair color'][i]
        height = hero_info['Height'][i]
        publisher = hero_info['Publisher'][i]
        skin_color = hero_info['Skin color'][i]
        alignment = hero_info['Alignment'][i]
        weight = hero_info['Weight'][i]

        cur.execute("""INSERT INTO HEROES (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight))
    except:
        error_lines.append(i)

In [75]:
cur.execute("""SELECT * FROM HEROES;""")
df=pd.DataFrame(cur.fetchall())
df.columns= [x[0] for x in cur.description]
df

,hero_id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
727,728,Yellowjacket,Male,blue,Human,Blond,183.0,Marvel Comics,Unknown,good,83.0
728,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52.0
729,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
730,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57.0
731,733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81.0

In [74]:
error_lines

[540, 731]

In [76]:
hero_info.iloc[error_lines, :]

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
540,Ra's Al Ghul,Male,green,Human,Grey,193.0,DC Comics,Unknown,bad,97
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17

In [77]:
# The springs containing ' inside of the words like "Ra's Al Ghul" and "Yoda's species generates the error!"
# We will rename those as "Ras Al Ghul" and "Yoda species" to overcome this problem.
hero_info.replace(to_replace = "Ra's Al Ghul", value = 'Ras Al Ghul', inplace = True)
hero_info.replace(to_replace = "Yoda's species", value = 'Yoda species', inplace = True)

In [84]:
## this deletes table
cur.execute("""DROP TABLE HEROES;""")

In [85]:
# this creates table
cur.execute("""CREATE TABLE HEROES (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [86]:
# Now reiterate over the hire_info pandas df and populate the HEROES database table:
error_lines = []
for i in hero_info.index:
    try:
        hero_id = i
        name = hero_info['name'][i]
        gender = hero_info['Gender'][i]
        eye_color = hero_info['Eye color'][i]
        race = hero_info['Race'][i]
        hair_color = hero_info['Hair color'][i]
        height = hero_info['Height'][i]
        publisher = hero_info['Publisher'][i]
        skin_color = hero_info['Skin color'][i]
        alignment = hero_info['Alignment'][i]
        weight = hero_info['Weight'][i]

        cur.execute("""INSERT INTO HEROES (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight))
    except:
        error_lines.append(i)

In [87]:
# No error line!!!
error_lines

[]

In [88]:
# We have all heres_info from pandas df converted into HEROES database table: 
cur.execute("""SELECT * FROM HEROES;""")
df=pd.DataFrame(cur.fetchall())
df.columns= [x[0] for x in cur.description]
df

,hero_id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57.0
733,733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81.0