# Superhero SQL mystery project

## Loading and Inspecting the Data

In [1]:
import pandas as pd
import sqlite3

In [2]:
!ls CSVs

heroes_information.csv
places.csv
sidekicks.csv
super_hero_powers.csv
villains.csv

In [3]:
hero_info = pd.read_csv('CSVs/heroes_information.csv', index_col=[0])
hero_powers = pd.read_csv('CSVs/super_hero_powers.csv')
villains = pd.read_csv('CSVs/villains.csv', index_col=[0])
sidekicks = pd.read_csv('CSVs/sidekicks.csv', index_col=[0])
places = pd.read_csv('CSVs/places.csv', index_col=[0])

In [4]:
hero_info.head()

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [5]:
hero_info.columns

Index(['name', 'Gender', 'Eye color', 'Race', 'Hair color', 'Height',
       'Publisher', 'Skin color', 'Alignment', 'Weight'],
      dtype='object')

In [6]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
hero_powers.columns

Index(['hero_names', 'Agility', 'Accelerated Healing', 'Lantern Power Ring',
       'Dimensional Awareness', 'Cold Resistance', 'Durability', 'Stealth',
       'Energy Absorption', 'Flight',
       ...
       'Web Creation', 'Reality Warping', 'Odin Force', 'Symbiote Costume',
       'Speed Force', 'Phoenix Force', 'Molecular Dissipation',
       'Vision - Cryo', 'Omnipresent', 'Omniscient'],
      dtype='object', length=168)

In [8]:
villains.head()

,name,real names,aliases,gender,charecter type,powers
0,Magneto,Max Eisenhardt,"Erik Magnus Lehnsherr, The Master of Magnetism...",Male,Mutant,"Blast Power, Electricity Control, Electronic D..."
1,Joker,Unknown,"""Clown Prince of Crime , Harlequin of Hate, Pu...",Male,Other,"Adaptive, Agility, Chameleon, Enhance Mutation..."
2,Doctor Doom,Victor Von Doom,"Dr. Doom, Victor von Doom, The Master, The Bar...",Male,Human,"Adaptive, Agility, Blast Power, Electricity Co..."
3,Lex Luthor,Alexander Joseph Luthor,"Alexander Joseph Luthor, Alexander Luthor, Ale...",Male,Human,"Blast Power, Energy Manipulation, Energy Shiel..."
4,Galactus,Galan,"Galan, Galen, Devourer of Worlds, Ravager of P...",Male,God/Eternal,"Astral Projection, Berserker Strength, Blast P..."

In [9]:
villains.columns

Index(['name', 'real names', 'aliases', 'gender', 'charecter type', 'powers'], dtype='object')

In [10]:
places.head()

           location                                        description
0       Gotham City  Gotham City is under the protection of Batman ...
1           Krypton  A fictional planet in the DC Universe and the ...
2           Batcave  The Batcave is the secret headquarters for Bat...
3     Arkham Asylum  Arkham Asylum for the Criminally Insane is a f...
4  Castle Grayskull  At the center of the Universe; between light a...

In [11]:
places_cols = places.columns
hero_p_cols = hero_powers.columns
villains_cols = villains.columns
sidekicks_cols = sidekicks.columns
places_cols = places.columns

all_cols = places_cols, hero_p_cols, villains_cols, sidekicks_cols, places_cols

## Into the world of SQL

In [12]:
!ls

CSVs
Emine_Superhero_SQL_Project.ipynb
README.md
data.sqlite
sample_data_superheroes_mysql.sql
scrapers
sql_heroes.db

In [13]:
hero_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 734 entries, 0 to 733
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        734 non-null    object
 1   Gender      734 non-null    object
 2   Eye color   734 non-null    object
 3   Race        734 non-null    object
 4   Hair color  734 non-null    object
 5   Height      734 non-null    float64
 6   Publisher   719 non-null    object
 7   Skin color  734 non-null    object
 8   Alignment   734 non-null    object
 9   Weight      732 non-null    float64
dtypes: float64(2), object(8)
memory usage: 63.1+ KB

In [14]:
hero_info.isna().sum()

name           0
Gender         0
Eye color      0
Race           0
Hair color     0
Height         0
Publisher     15
Skin color     0
Alignment      0
Weight         2
dtype: int64

In [15]:
# Filling missing publisher values with 'Unknown'
hero_info['Publisher'].fillna(value='Unknown', inplace=True)

In [16]:
# Filling missign Wight values with 'None'
hero_info['Weight'].fillna(value='None', inplace=True)

In [21]:
# No missing values
hero_info.isna().sum()

name          0
Gender        0
Eye color     0
Race          0
Hair color    0
Height        0
Publisher     0
Skin color    0
Alignment     0
Weight        0
dtype: int64

In [17]:
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

In [80]:
## this deletes table
cur.execute("""DROP TABLE HEROES;""")

In [81]:
# this creates table
cur.execute("""CREATE TABLE HEROES (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [71]:
hero_info

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441
1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65
2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90
3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441
4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99
...,...,...,...,...,...,...,...,...,...,...
729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52
730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17
732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57
733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81

In [57]:
hero_info.replace(to_replace = '-', value = 'Unknown', inplace = True)

In [73]:
# Iterate over the hire_info pandas df and populate the Hero_Info database table:
error_lines = []
for i in hero_info.index:
    try:
        hero_id = i
        name = hero_info['name'][i]
        gender = hero_info['Gender'][i]
        eye_color = hero_info['Eye color'][i]
        race = hero_info['Race'][i]
        hair_color = hero_info['Hair color'][i]
        height = hero_info['Height'][i]
        publisher = hero_info['Publisher'][i]
        skin_color = hero_info['Skin color'][i]
        alignment = hero_info['Alignment'][i]
        weight = hero_info['Weight'][i]

        cur.execute("""INSERT INTO HEROES (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight))
    except:
        error_lines.append(i)

In [75]:
cur.execute("""SELECT * FROM HEROES;""")
df=pd.DataFrame(cur.fetchall())
df.columns= [x[0] for x in cur.description]
df

,hero_id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
727,728,Yellowjacket,Male,blue,Human,Blond,183.0,Marvel Comics,Unknown,good,83.0
728,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52.0
729,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
730,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57.0
731,733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81.0

In [74]:
error_lines

[540, 731]

In [76]:
hero_info.iloc[error_lines, :]

,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
540,Ra's Al Ghul,Male,green,Human,Grey,193.0,DC Comics,Unknown,bad,97
731,Yoda,Male,brown,Yoda's species,White,66.0,George Lucas,green,good,17

In [77]:
# The springs containing ' inside of the words like "Ra's Al Ghul" and "Yoda's species generates the error!"
# We will rename those as "Ras Al Ghul" and "Yoda species" to overcome this problem.
hero_info.replace(to_replace = "Ra's Al Ghul", value = 'Ras Al Ghul', inplace = True)
hero_info.replace(to_replace = "Yoda's species", value = 'Yoda species', inplace = True)

In [84]:
## this deletes table
cur.execute("""DROP TABLE HEROES;""")

In [85]:
# this creates table
cur.execute("""CREATE TABLE HEROES (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [86]:
# Now reiterate over the hire_info pandas df and populate the HEROES database table:
error_lines = []
for i in hero_info.index:
    try:
        hero_id = i
        name = hero_info['name'][i]
        gender = hero_info['Gender'][i]
        eye_color = hero_info['Eye color'][i]
        race = hero_info['Race'][i]
        hair_color = hero_info['Hair color'][i]
        height = hero_info['Height'][i]
        publisher = hero_info['Publisher'][i]
        skin_color = hero_info['Skin color'][i]
        alignment = hero_info['Alignment'][i]
        weight = hero_info['Weight'][i]

        cur.execute("""INSERT INTO HEROES (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight))
    except:
        error_lines.append(i)

In [87]:
# No error line!!!
error_lines

[]

In [88]:
# We have all heres_info from pandas df converted into HEROES database table: 
cur.execute("""SELECT * FROM HEROES;""")
df=pd.DataFrame(cur.fetchall())
df.columns= [x[0] for x in cur.description]
df

,hero_id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,Unknown,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,Unknown,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,Unknown,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
729,729,Yellowjacket II,Female,blue,Human,Strawberry Blond,165.0,Marvel Comics,Unknown,good,52.0
730,730,Ymir,Male,white,Frost Giant,No Hair,304.8,Marvel Comics,white,good,-99.0
731,731,Yoda,Male,brown,Yoda species,White,66.0,George Lucas,green,good,17.0
732,732,Zatanna,Female,blue,Human,Black,170.0,DC Comics,Unknown,good,57.0
733,733,Zoom,Male,red,Unknown,Brown,185.0,DC Comics,Unknown,bad,81.0