## Superhero SQL mystery project

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 
import csv

%matplotlib inline

In [2]:
hero_info = pd.read_csv('heroes_information.csv')
hero_powers = pd.read_csv('super_hero_powers.csv')

In [3]:
hero_info.head()

,Unnamed: 0,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0

In [21]:
hero_powers.head()

,hero_names,Agility,Accelerated Healing,Lantern Power Ring,Dimensional Awareness,Cold Resistance,Durability,Stealth,Energy Absorption,Flight,...,Web Creation,Reality Warping,Odin Force,Symbiote Costume,Speed Force,Phoenix Force,Molecular Dissipation,Vision - Cryo,Omnipresent,Omniscient
0,3-D Man,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,A-Bomb,False,True,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Abe Sapien,True,True,False,False,True,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Abin Sur,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,Abomination,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [22]:
hero_info.columns

Index(['Unnamed: 0', 'name', 'Gender', 'Eye color', 'Race', 'Hair color',
       'Height', 'Publisher', 'Skin color', 'Alignment', 'Weight'],
      dtype='object')

In [4]:
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

In [55]:
#cur.execute("""
               # SELECT * 
                #FROM hero_info
#""").fetchall()

[]

In [11]:
hero_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 734 entries, 0 to 733
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  734 non-null    int64
 1   name        734 non-null    object
 2   Gender      734 non-null    object
 3   Eye color   734 non-null    object
 4   Race        734 non-null    object
 5   Hair color  734 non-null    object
 6   Height      734 non-null    float64
 7   Publisher   719 non-null    object
 8   Skin color  734 non-null    object
 9   Alignment   734 non-null    object
 10  Weight      732 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 63.2+ KB

In [12]:
hero_info.iloc[0]['name']

'A-Bomb'

In [13]:
# there are 19 duplicates, drop them first before loading into database
hero_info['name'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
729    False
730    False
731    False
732    False
733    False
Name: name, Length: 734, dtype: bool

In [39]:
hero_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 715 entries, 0 to 733
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  715 non-null    int64
 1   name        715 non-null    object
 2   Gender      715 non-null    object
 3   Eye color   715 non-null    object
 4   Race        715 non-null    object
 5   Hair color  715 non-null    object
 6   Height      715 non-null    float64
 7   Publisher   700 non-null    object
 8   Skin color  715 non-null    object
 9   Alignment   715 non-null    object
 10  Weight      713 non-null    float64
dtypes: float64(2), int64(1), object(8)
memory usage: 87.0+ KB

In [5]:
hero_info=hero_info[hero_info['name'].duplicated()==False]

In [ ]:
hero_info

In [44]:
# this deletes table
cur.execute("""DROP TABLE hero_info;""")

In [45]:
# this creates table
cur.execute("""CREATE TABLE hero_info (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [46]:
# populate table
error_lines=[]
for i in range(0,734):
    try:
        hero_id=i
        name=hero_info.loc[i]['name']
        gender=hero_info.loc[i]['Gender']
        eye_color=hero_info.loc[i]['Eye color']
        race=hero_info.loc[i]['Race']
        hair_color=hero_info.loc[i]['Hair color']
        height=hero_info.loc[i]['Height']
        publisher=hero_info.loc[i]['Publisher']
        skin_color=hero_info.loc[i]['Skin color']
        alignment=hero_info.loc[i]['Alignment']
        weight=hero_info.loc[i]['Weight']
        cur.execute("""INSERT INTO hero_info (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}','{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight)  )
    except:
            error_lines.append(hero_id)

In [47]:
error_lines

[23,
 48,
 50,
 63,
 69,
 97,
 116,
 123,
 156,
 260,
 290,
 291,
 482,
 497,
 540,
 618,
 623,
 624,
 674,
 696,
 731]

In [36]:
hero_info.loc[525]

Unnamed: 0           525
name          Power Girl
Gender            Female
Eye color           blue
Race          Kryptonian
Hair color         blond
Height               180
Publisher      DC Comics
Skin color             -
Alignment           good
Weight                81
Name: 525, dtype: object

In [49]:
hero_info.iloc[526]

Unnamed: 0             540
name          Ra's Al Ghul
Gender                Male
Eye color            green
Race                 Human
Hair color            Grey
Height                 193
Publisher        DC Comics
Skin color               -
Alignment              bad
Weight                  97
Name: 540, dtype: object

In [50]:
# check where the error occurs
error_df = hero_info.iloc[error_lines, :]
error_df

IndexError: positional indexers are out-of-bounds

In [28]:
hero_info.iloc[526]

Unnamed: 0             540
name          Ra's Al Ghul
Gender                Male
Eye color            green
Race                 Human
Hair color            Grey
Height                 193
Publisher        DC Comics
Skin color               -
Alignment              bad
Weight                  97
Name: 540, dtype: object

In [11]:
hero_info.iloc[712]

Unnamed: 0               731
name                    Yoda
Gender                  Male
Eye color              brown
Race          Yoda's species
Hair color             White
Height                    66
Publisher       George Lucas
Skin color             green
Alignment               good
Weight                    17
Name: 731, dtype: object

In [24]:
for x in cur.description:
    print(x[0])

hero_id
name
gender
eye_color
race
hair_color
height
publisher
skin_color
alignment
weight

In [25]:
[x[0] for x in cur.description]

['hero_id',
 'name',
 'gender',
 'eye_color',
 'race',
 'hair_color',
 'height',
 'publisher',
 'skin_color',
 'alignment',
 'weight']

In [30]:
cur.execute("""SELECT * FROM hero_info;""")
df=pd.DataFrame(cur.fetchall())
df.columns= [x[0] for x in cur.description]
df

,hero_id,name,gender,eye_color,race,hair_color,height,publisher,skin_color,alignment,weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,-,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,-,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,-,bad,-99.0
...,...,...,...,...,...,...,...,...,...,...,...
521,521,Q,Male,-,God / Eternal,-,-99.0,Star Trek,-,-,-99.0
522,522,Quantum,Male,-,-,-,-99.0,HarperCollins,-,good,-99.0
523,523,Question,Male,blue,Human,Blond,188.0,DC Comics,-,good,83.0
524,524,Quicksilver,Male,blue,Mutant,Silver,183.0,Marvel Comics,-,good,79.0
525,525,Quill,Male,brown,-,Brown,163.0,Marvel Comics,-,good,56.0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   hero_id     526 non-null    int64
 1   name        526 non-null    object
 2   gender      526 non-null    object
 3   eye_color   526 non-null    object
 4   race        526 non-null    object
 5   hair_color  526 non-null    object
 6   height      526 non-null    object
 7   publisher   526 non-null    object
 8   skin_color  526 non-null    object
 9   alignment   526 non-null    object
 10  weight      526 non-null    object
dtypes: int64(1), object(10)
memory usage: 45.3+ KB

In [36]:
hero_info.iloc[526]

Unnamed: 0             540
name          Ra's Al Ghul
Gender                Male
Eye color            green
Race                 Human
Hair color            Grey
Height                 193
Publisher        DC Comics
Skin color               -
Alignment              bad
Weight                  97
Name: 540, dtype: object

In [37]:
hero_info.iloc[527]

Unnamed: 0              541
name          Rachel Pirzad
Gender               Female
Eye color                 -
Race                  Alpha
Hair color                -
Height                  -99
Publisher              SyFy
Skin color                -
Alignment              good
Weight                  -99
Name: 541, dtype: object

In [47]:
hero_info.iloc[528]

Unnamed: 0      542
name          Rambo
Gender         Male
Eye color     brown
Race          Human
Hair color    Black
Height          178
Publisher       NaN
Skin color        -
Alignment      good
Weight           83
Name: 542, dtype: object

In [ ]:
hero_in