This document aims to itemize the Python/SQL code required for the SQL Heroes webiste to function as well as facilitate the development process by making it easier to assign work.

The code given below are _at least_ snippets of larger completed work and their presence indicates the coding requirement has been met.

In [2]:
import pandas as pd

## Database Creation

Full code for database creation and access is found in Emine_Superhero_SQL_Project.ipynb (currently on Emine branch) and Superhero_SQL_Project.ipynb

In [ ]:
# this creates table
cur.execute("""CREATE TABLE HEROES (
                                       hero_id INTEGER PRIMARY KEY,
                                       name TEXT,
                                       gender TEXT,
                                       eye_color TEXT,
                                       race TEXT,
                                       hair_color TEXT,
                                       height TEXT,
                                       publisher TEXT,
                                       skin_color TEXT,
                                       alignment TEXT,
                                       weight TEXT
                                       );
""")

In [ ]:
# Iterate over the hire_info pandas df and populate the Hero_Info database table:
error_lines = []
for i in hero_info.index:
    try:
        hero_id = i
        name = hero_info['name'][i]
        gender = hero_info['Gender'][i]
        eye_color = hero_info['Eye color'][i]
        race = hero_info['Race'][i]
        hair_color = hero_info['Hair color'][i]
        height = hero_info['Height'][i]
        publisher = hero_info['Publisher'][i]
        skin_color = hero_info['Skin color'][i]
        alignment = hero_info['Alignment'][i]
        weight = hero_info['Weight'][i]

        cur.execute("""INSERT INTO HEROES (hero_id,
                                              name, 
                                              gender, 
                                              eye_color, 
                                              race, 
                                              hair_color, 
                                              height, 
                                              publisher,
                                              skin_color,
                                              alignment,
                                              weight)
                    VALUES ('{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}', '{}');
                """.format(hero_id, name, gender, eye_color, race, hair_color, height, publisher, skin_color, alignment, weight))
    except:
        error_lines.append(i)

## Return Query Results as DataFrame

The presumption here is that query results will need to be presented as Python output. Please note that the below code sits within a for loop to establish that dynamic input would work on the overall query level as well as within the query.

**TO DO**  
- Confirm this with website dev. team  
- Update to work with heroes db

In [ ]:
#works with the SQL Table found in dsc-sql-selection (data.sqlite)

names = ['Murphy', 'Patterson', 'Bow']

query_test_df = pd.DataFrame()
for x in names:
    query = (f"""SELECT lastname, firstName FROM employees WHERE lastName = '{x}';""")
    query_test_df = query_test_df.append(pd.read_sql(query, conn))

query_test_df.reset_index(drop=True, inplace=True)
query_test_df

## Capture Query Results for Notepad 

The idea here is that upon starting the SQL Heroes game a new, empty, Notepad table is created.  Users can then choose via button click to "Record" the results of any query in said table for future reference.  

**At this time psuedo code is presented as this idea requires group sign-off as other means may be simpler to implement.  Really I just think this is cool**

In [ ]:
#initial table creation; thinking was to make this a very simple table with id and note fields so as to accomodate results
# from tables w/ different numbers of columns


cur.execute("""CREATE TABLE NOTEPAD (
                                       note_id INTEGER PRIMARY KEY,
                                       note TEXT);
            """)

In [4]:
## psuedo code

- query sqlite db
- put results into dataframe
- if "Record" button on website pushed
    - use .columns and for loop to concatenate rows values into single string
    - INSERT INTO NOTEPAD each string, one by one
        - alternately create new dataframe of string values
        - INSERT INTO NOTEPAD dataframe
- Notes element on website can display either Sqlite table OR concatenated query results Dataframe (whatever is easier)

SyntaxError: invalid syntax (<ipython-input-4-20303072236f>, line 3)